In [15]:
import numpy as np

In [5]:
train = pd.read_excel(r'../data/train.xlsx')

In [6]:
target = train.iloc[:,-29:]

In [7]:
train_df = train.drop(target, axis=1)

In [10]:
train_df.head()

,Patient_ID,Chip_Code,Chip_Type,Chip_Image_Name,Age,Gender,Blood_Month_sample,French_Residence_Department,French_Region,Rural_or_urban_area,...,Tyr_p_2,Ulm_c,Urt_d,Vac_m,Ves_v,Ves_v_1,Vit_v_1,Xip_g_1,Zea_m,Zea_m_14
0,PCR0232,02AHX0C9,ALEX,02AHX0C9.bmp,15.0,0.0,7.0,deptGGG,regionF,1,...,0.0,0.0,0.04,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,QVW0271,AD53727_2,ISAC_V1,NaN,72.0,1.0,5.0,deptY,regionD,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QVW0489,AM91127_4,ISAC_V1,NaN,67.0,1.0,6.0,deptY,regionD,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TXV0075,881309006950,ISAC_V1,AC10727_4_881309006950_2013_10_28_21_20_5.bmp,13.0,1.0,9.0,deptEE,regionC,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QVW0946,CSB5927_4,ISAC_V1,NaN,28.0,1.0,12.0,deptY,regionD,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
drop_cols = ['Patient_ID', 'Chip_Code', 'Chip_Image_Name','Food_Type_0']

In [13]:
train_df = train_df.drop(drop_cols, axis=1)

In [20]:
df_not_num = train_df.select_dtypes(include='object')

In [23]:
df_not_num.columns

Index(['Chip_Type', 'French_Residence_Department', 'French_Region',
       'Food_Type_0', 'Treatment_of_athsma', 'Age_of_onsets',
       'General_cofactors', 'Treatment_of_atopic_dematitis'],
      dtype='object')

In [42]:
df_not_num.Treatment_of_atopic_dematitis.value_counts()

Treatment_of_atopic_dematitis
9.0    1879
0.0     895
2.0      88
5.0      65
1.0      44
4.0       9
3.0       8
7.0       1
Name: count, dtype: int64

In [31]:
df_not_num.Treatment_of_athsma = df_not_num.Treatment_of_athsma.astype(str).str.extract(r'(\d+)').astype(float)

In [34]:
df_not_num.Age_of_onsets = df_not_num.Age_of_onsets.astype(str).str.extract(r'(\d+)').astype(float)

In [37]:
df_not_num.General_cofactors = df_not_num.General_cofactors.astype(str).str.extract(r'(\d+)').astype(float)

In [41]:
df_not_num.Treatment_of_atopic_dematitis = df_not_num.Treatment_of_atopic_dematitis.astype(str).str.extract(r'(\d+)').astype(float)

In [43]:
train_df[df_not_num.columns] = df_not_num

In [49]:
from sklearn.multiclass import OneVsRestClassifier
from xgboost import XGBClassifier

In [52]:
clf = XGBClassifier()
model = OneVsRestClassifier(clf)

In [ ]:
model.fit(train_df, target)

In [54]:
test = pd.read_excel(r'../data/test.xlsx')

In [55]:
test.head()

,trustii_id,Patient_ID,Chip_Code,Chip_Type,Chip_Image_Name,Age,Gender,Blood_Month_sample,French_Residence_Department,French_Region,...,Tyr_p_2,Ulm_c,Urt_d,Vac_m,Ves_v,Ves_v_1,Vit_v_1,Xip_g_1,Zea_m,Zea_m_14
0,1,PMP0156,22 262C 3858,ISAC_V2,NaN,8.0,1.0,6.0,deptBBB,regionJ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,XPW0056,XPW0056,ISAC_V1,NaN,21.0,1.0,10.0,deptJ,regionB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,QVW1065,DM01H27_1,ISAC_V1,NaN,5.0,1.0,10.0,deptY,regionD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,PCR0234,02AHX0DC,ALEX,02AHX0DC.bmp,14.0,1.0,7.0,deptL,regionD,...,0.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,5,PCR0532,02AUN372,ALEX,02AUN372.png,32.0,0.0,10.0,deptUUU,regionF,...,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,1.0,3.36

In [57]:
test_df = test.drop(drop_cols, axis=1)

In [59]:
test_df = test_df.drop('trustii_id', axis=1)

In [68]:
test_df = test_df.drop('Food_Type_0', axis=1)

In [69]:
df_not_num = test_df.select_dtypes(include='object')

In [70]:
df_not_num.head()

,Chip_Type,French_Residence_Department,French_Region,Treatment_of_athsma,General_cofactors,Treatment_of_atopic_dematitis
0,ISAC_V2,deptBBB,regionJ,9,"4, 7",0
1,ISAC_V1,deptJ,regionB,9,0,9
2,ISAC_V1,deptY,regionD,9,0,9
3,ALEX,deptL,regionD,9,0,9
4,ALEX,deptUUU,regionF,9,0,9

In [73]:
df_not_num.Treatment_of_atopic_dematitis.value_counts()

Treatment_of_atopic_dematitis
9       810
0       399
2        34
5        19
1        13
1, 2      4
4         2
3         1
Name: count, dtype: int64

In [74]:
df_not_num.Treatment_of_athsma = df_not_num.Treatment_of_athsma.astype(str).str.extract(r'(\d+)').astype(float)
df_not_num.General_cofactors = df_not_num.General_cofactors.astype(str).str.extract(r'(\d+)').astype(float)
df_not_num.Treatment_of_atopic_dematitis = df_not_num.Treatment_of_atopic_dematitis.astype(str).str.extract(r'(\d+)').astype(float)

In [76]:
test_df[df_not_num.columns] = df_not_num

In [77]:
test_df

,Chip_Type,Age,Gender,Blood_Month_sample,French_Residence_Department,French_Region,Rural_or_urban_area,Sensitization,Treatment_of_rhinitis,Treatment_of_athsma,...,Tyr_p_2,Ulm_c,Urt_d,Vac_m,Ves_v,Ves_v_1,Vit_v_1,Xip_g_1,Zea_m,Zea_m_14
0,ISAC_V2,8.0,1.0,6.0,deptBBB,regionJ,9,1,0.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ISAC_V1,21.0,1.0,10.0,deptJ,regionB,1,1,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ISAC_V1,5.0,1.0,10.0,deptY,regionD,9,1,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ALEX,14.0,1.0,7.0,deptL,regionD,9,1,0.0,9.0,...,0.0,0.00,0.02,0.0,0.0,0.0,0.0,0.0,0.0,0.00
4,ALEX,32.0,0.0,10.0,deptUUU,regionF,1,1,9.0,9.0,...,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,1.0,3.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,ISAC_V2,33.0,1.0,7.0,deptY,regionC,9,1,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,ISAC_V1,17.0,1.0,4.0,deptY,regionD,9,1,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,ALEX,24.0,0.0,1.0,deptGGG,regionF,9,1,9.0,0.0,...,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1280,ALEX,18.0,0.0,10.0,deptGGG,regionF,9,1,9.0,9.0,...,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1281,ALEX,41.0,0.0,1.0,deptGGG,regionF,1,0,9.0,0.0,...,0.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0,0.0,0.00

In [82]:
train_df.columns.to_list()  test_df.columns.to_list()

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [85]:
not_common_columns = set(train_df.columns.to_list()).symmetric_difference(set(test_df.columns.to_list()))

In [86]:
not_common_columns

{'Food_Type_0'}

In [87]:
lst = ['Chip_Type', 'French_Residence_Department', 'French_Region']

In [88]:
train_df[lst]

     Chip_Type French_Residence_Department French_Region
0         ALEX                     deptGGG       regionF
1      ISAC_V1                       deptY       regionD
2      ISAC_V1                       deptY       regionD
3      ISAC_V1                      deptEE       regionC
4      ISAC_V1                       deptY       regionD
...        ...                         ...           ...
2984   ISAC_V1                       deptY       regionB
2985   ISAC_V1                       deptY       regionD
2986   ISAC_V1                      deptEE       regionC
2987      ALEX                    deptBBBB       regionF
2988   ISAC_V2                       deptY       regionC

[2989 rows x 3 columns]